body {
  text-align: center;
}

/*
 * Styles for the winning modal
 */
.winning-modal {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.45);
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.winning-modal-body {
  position: relative;
  width: 350px;
  height: 200px;
  top: 50%;
  left: 50%;
  background: #fff;
  transform: translate(-50%, -30%);
  border-radius: 10px;
}

.winning-modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-top: 25px;
}

.winning-modal-button {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}
